{{#each posts}}
<div class="central-meta item">
    <div class="user-post">

        <div class="friend-info">
            <figure>
                <img src="uploads/{{this.name}}" alt="" />
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{this.fullname}}</a></ins>
                <span>published: {{this.created}}</span>
            </div>
            <div class="post-meta">
                <img src="uploads/{{this.postImg}}" alt="" />
                {{!-- <div class="we-video-info">
                    <ul>
                        <li>
                            <span class="views" data-toggle="tooltip" title="views">
                                <i class="fa fa-eye"></i>
                                <ins>1.2k</ins>
                            </span>
                        </li>
                        <li>
                            <span class="comment" data-toggle="tooltip" title="Comments">
                                <i class="fa fa-comments-o"></i>
                                <ins>52</ins>
                            </span>
                        </li>
                        <li>
                            <span class="like" data-toggle="tooltip" title="like">
                                <i class="ti-heart"></i>
                                <ins>2.2k</ins>
                            </span>
                        </li>
                        <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                                <i class="ti-heart-broken"></i>
                                <ins>200</ins>
                            </span>
                        </li>
                    </ul>
                </div> --}}
                <div class="description">
                    <p>
                        {{this.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}